@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: 217.9 10.6% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 240 3.7% 15.9%;
  }

  .light {
    --background: hsl(0, 0%, 98%);
    --foreground: hsl(240, 3.7%, 15.9%);
  
    --muted: hsl(240, 5%, 64.9%);
    --muted-foreground: hsl(240, 3.7%, 15.9%);
  
    --popover: hsl(0, 0%, 98%);
    --popover-foreground: hsl(240, 3.7%, 15.9%);
  
    --card: hsl(0, 0%, 98%);
    --card-foreground: hsl(240, 3.7%, 15.9%);
  
    --border: hsl(240, 3.7%, 15.9%);
    --input: hsl(240, 3.7%, 15.9%);
  
    --primary: hsl(240, 3.7%, 15.9%);
    --primary-foreground: hsl(0, 0%, 98%);
  
    --secondary: hsl(0, 0%, 98%);
    --secondary-foreground: hsl(240, 3.7%, 15.9%);
  
    --accent: hsl(120, 60%, 50%);
    --accent-foreground: hsl(0, 0%, 98%);
  
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(0, 85.7%, 97.3%);
  
    --ring: hsl(240, 3.7%, 15.9%);
  }

  .fancy {
    --background: hsl(300, 60%, 80%);
    --foreground: hsl(0, 0%, 20%);
  
    --muted: hsl(0, 0%, 50%);
    --muted-foreground: hsl(0, 0%, 20%);
  
    --popover: hsl(300, 60%, 80%);
    --popover-foreground: hsl(0, 0%, 20%);
  
    --card: hsl(300, 60%, 80%);
    --card-foreground: hsl(0, 0%, 20%);
  
    --border: hsl(0, 0%, 20%);
    --input: hsl(0, 0%, 20%);
  
    --primary: hsl(0, 0%, 20%);
    --primary-foreground: hsl(300, 60%, 80%);
  
    --secondary: hsl(300, 60%, 80%);
    --secondary-foreground: hsl(0, 0%, 20%);
  
    --accent: hsl(120, 60%, 50%);
    --accent-foreground: hsl(0, 0%, 20%);
  
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(0, 85.7%, 97.3%);
  
    --ring: hsl(0, 0%, 20%);
  }

  .red {
    --background: hsl(0, 100%, 90%);
    --foreground: hsl(0, 0%, 20%);
  
    --muted: hsl(0, 0%, 50%);
    --muted-foreground: hsl(0, 0%, 20%);
  
    --popover: hsl(0, 100%, 90%);
    --popover-foreground: hsl(0, 0%, 20%);
  
    --card: hsl(0, 100%, 90%);
    --card-foreground: hsl(0, 0%, 20%);
  
    --border: hsl(0, 0%, 20%);
    --input: hsl(0, 0%, 20%);
  
    --primary: hsl(0, 100%, 90%);
    --primary-foreground: hsl(0, 0%, 20%);
  
    --secondary: hsl(0, 100%, 90%);
    --secondary-foreground: hsl(0, 0%, 20%);
  
    --accent: hsl(0, 100%, 50%);
    --accent-foreground: hsl(0, 0%, 20%);
  
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(0, 85.7%, 97.3%);
  
    --ring: hsl(0, 0%, 20%);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


#root {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}